
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------
common style
----------------------*/
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* =============
header style
============= */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.navigation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin: 10px;
    
}
.nav-menu li a{
    text-decoration: none;
    color: black;
}
.nav-menu i{
    margin: 10px;
}
/* =======================
hero section css
========================== */
.hero-section{
    display: flex;
    margin-top: 20px;
}
.main-camera img{
    width: 440px;
    height: 414px;
}
p{
    line-height: 30px;
    margin-bottom: 20px;
}
.preebook-now{
    background-color: #E02C6D;
    Padding: 10px 24px 10px 24px;
    border-radius: 41px;
    width: 196px;
    font-weight: 500;
}
.preebook-now:hover{
    background-color: green;
    width: 250px;
    transition: 1s;
}
.hero-section a{
    text-decoration: none;
    color: white;
}
.hero-section i{
    color: white;
}
/* ============================
products area css
============================ */
.product-section{
    margin-top: 20px;
}
.product-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.pink{
    color: #E02C6D;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product{
    box-shadow: 10px 10px 30px lightgray;
    margin: 30px;
    padding: 15px;
    align-items: center;
}
.product-details{
    font-size: 14px;
}
.product img{
    width: 300px;
    height: 256px;
}
.product-button{
    text-align: right;
    color: #E02C6D;
}
.product-button a{
    text-decoration: none;
    color: #E02C6D;
}

/* ======================
top part Animation style
====================== */
.typewriter h1 {
    font-size: 35px;
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 5s infinite;
  }
/* ======================
top part Animation style
====================== */
.typewriter h1 {
    font-size: 35px;
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 5s infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }
/* ==============================
Footer section
============================== */
.footer-section{
    background-color: #0a0826;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    max-width: 100%;
}
.footer-info h2{
    color: white;
}
.footer-info p{
    color: white;
    margin-top: 10px;
}
.social-icon{
    color: white;
}
.fab{
    margin: 10px;
}

  /* ====================
  Extra pattern
  ==================== */
  .box-animation{
      margin-top: 40px;
      box-shadow: 10px 10px 50px lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50vh;
  }
  .box{
      position: relative;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(36, 31, 31, 0.5);
      overflow: hidden;
      border-radius: 20px;
  }
  .box::before{
      content: '';
      position: absolute;
      width: 150px;
      height: 140%;
      background: linear-gradient(#ff019e, #000000);
      animation: animate 1s linear infinite;

  }
  .box::after{
      content: '';
      position: absolute;
      inset: 4px;
      background-color: navy;
      border-radius: 15px;

  }
  @keyframes animate {
      0%{
          transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
    }
  }
  .box h1{
      color: blanchedalmond;
      font-size: 10em;
      z-index: 10;
  }

 /* ========================
          media query
  =========================== */

  /* ===========================
           mobile device
  ============================== */

  @media (max-width: 480px){
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .hero-section{
        flex-direction: column;
        flex-direction: column-reverse;

    }
    .typewriter h1 {
        font-size: 18px;
        margin-bottom: 15px;
    }
        p{
            line-height: 20px;
            margin-bottom: 15px;
            font-size: 14px;
        } 
        .influencer-intro{
            text-align: center;
        }
        .preebook-now{
            width: 171px;
            margin-left: 30%;

        }
        .preebook-now:hover{
            width: 200px;
        }
        #main-camera{
            width: 350px;
            height: 350px;
        }
        .products{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: space-evenly;
        }
        .product{
            margin: 20px 50px;
        }
    }

    /* ====================
  Tablets
  ==================== */

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .hero-section{
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;

    }
    .navigation{
        display: flex;
        flex-direction: column;
    }
    p{
        line-height: 23px;
        margin-bottom: 15px;
        font-size: 18px;
        margin-left: 40px;
    }
    #main-camera{
        width: 440px;
        height: 414px;
        margin-left: 20%;
    }
    .typewriter h1 {
        font-size: 20px;
        margin-bottom: 15px;
        margin-left: 30px;
    }
    .influencer-intro{
        text-align: center;
    }
    .preebook-now{
        margin-left: 35%;

    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
    }
    .product{
        margin: 25px;
    }
  }
